[Desktop Entry]
Type=Application
Name=Gestor Aules GVA
Comment=Eina per importar escales i crear resultats d'aprenentatge a Aules
Exec=GestorAulesGVA
Icon=gestor-aules
Categories=Education;
Terminal=false